#about {
  color: var(--color-paper);
  min-height: 75vh;
  padding: var(--margin) 0;
}

#about h2 {
  grid-column: span 12;
  margin-block: var(--margin);
}

#about .grid > div {
  grid-column: span 6;
}

#about h3 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: .25em;
  text-transform: uppercase;
}

#about ol {
  list-style-type: none;
  margin-block: var(--margin);
  padding: 0;
}

#about li {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-block: 1em;
}

#about li + li {
  border-top: 1px solid color-mix(in srgb, var(--color-paper) 20%, transparent 80%);
}

#about li h4 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: .25em;
} 

#about li p {
  margin: 0;
} 

#about .info {
  width: 100%;
}

#about .period {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

#about .button {
  border: 1px solid currentColor;
  border-radius: 999px;
  margin-block: 1em;
  padding: .5em 1em;
}

.chat {
  height: 75vh;
  overflow: auto;
}

.chat .message {
  background: var(--color-paper);
  border-radius: 0 12px 12px 12px;
  color: var(--color-dark-background);
  font-size: 16px;
  margin-block: 1em;
  margin-inline: 16px 48px;
  opacity: 0;
  padding: .75em .75em;
  position: relative;
  scale: .75;
  text-wrap: balance;
  transition: opacity .4s, translate .4s, scale .4s;
  translate: 0 1em;
  width: fit-content;

  &::before {
    background-image: url(../../images/balloon-tip.svg);
    content: "";
    display: block;
    height: 16px;
    left: -15.5px;
    position: absolute;
    top: 0;
    width: 16px;
  }

  &:has(img) {
    width: 50%;
  }

  img {
    border-radius: 8px;
    display: block;
    max-width: 100%;
  }

}

.chat.animate .message {
  opacity: 1;
  scale: 1;
  translate: 0 0;

  &:nth-child(1) {
    transition-delay: calc(1 * .2s);
  }
  &:nth-child(2) {
    transition-delay: calc(2 * .2s);
  }
  &:nth-child(3) {
    transition-delay: calc(3 * .2s);
  }
  &:nth-child(4) {
    transition-delay: calc(4 * .2s);
  }
  &:nth-child(5) {
    transition-delay: calc(5 * .2s);
  }
  &:nth-child(6) {
    transition-delay: calc(6 * .2s);
  }
  &:nth-child(7) {
    transition-delay: calc(7 * .2s);
  }
  &:nth-child(8) {
    transition-delay: calc(8 * .2s);
  }
}