#about {
  color: var(--color-paper);
  min-height: 75vh;
  padding: var(--margin) 0;
}

#about h2 {
  font-size: 32px;
  grid-column: span 12;
  margin-block: var(--margin);
}

#about .grid > div {
  grid-column: span 6;
}

#about h3 {
  font-family: var(--font-family-body);
  font-size: 20px;
  font-weight: var(--font-weight-body);
  margin-bottom: .25em;
  text-transform: uppercase;
}

#about ol {
  list-style-type: none;
  margin-block: var(--margin);
  padding: 0;
}

#about li {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-block: 1em;
}

#about li + li {
  border-top: 1px solid color-mix(in srgb, var(--color-paper) 20%, transparent 80%);
}

#about li h4 {
  font-family: var(--font-family-body);
  font-size: 20px;
  font-weight: var(--font-weight-body);
  margin: 0;
  margin-bottom: .25em;
} 

#about li p {
  font-size: 24px;
  margin: 0;
} 

#about .info {
  width: 100%;
}

#about .period {
  font-size: 20px;
  font-weight: var(--font-weight-body);
  text-align: right;
  text-transform: uppercase;
}

#about .button {
  border-color: var(--color-paper);
}

#about .button:hover {
  background: var(--color-paper);
  color: var(--color-dark-background);
}

.chat {
  /* height: 75vh;
  overflow: auto; */
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 1.25em;
  margin-block: 1.25em;
}

.chat .message {
  background: var(--color-paper);
  border-radius: 0 12px 12px 12px;
  color: var(--color-dark-background);
  cursor: pointer;
  /* margin-block: 1.25em; */
  margin-inline: 16px 64px;
  opacity: 0;
  padding: .75em .75em;
  position: relative;
  scale: .75;
  text-wrap: pretty;
  transition: opacity .4s, translate .4s, scale .4s;
  translate: 0 1em;
  user-select: none;
  width: fit-content;

  &::before {
    background-image: url(../../images/balloon-tip.svg);
    content: "";
    display: block;
    height: 16px;
    left: -15.5px;
    position: absolute;
    top: 0;
    width: 16px;
  }

  &:has(img) {
    padding: .25em;
    width: 50%;
  }

  img {
    border-radius: 8px;
    display: block;
    max-width: 100%;
  }

}

.chat.animate .message {
  opacity: 1;
  scale: 1;
  translate: 0 0;

  &:nth-child(1) {
    transition-delay: calc(1 * .2s);
  }
  &:nth-child(2) {
    transition-delay: calc(2 * .2s);
  }
  &:nth-child(3) {
    transition-delay: calc(3 * .2s);
  }
  &:nth-child(4) {
    transition-delay: calc(4 * .2s);
  }
  &:nth-child(5) {
    transition-delay: calc(5 * .2s);
  }
  &:nth-child(6) {
    transition-delay: calc(6 * .2s);
  }
  &:nth-child(7) {
    transition-delay: calc(7 * .2s);
  }
  &:nth-child(8) {
    transition-delay: calc(8 * .2s);
  }
}

.chat .message[data-emoji]::after {
  background: var(--color-paper);
  border: 1px solid var(--color-dark-background);
  border-radius: 999px;
  bottom: 0;
  content: attr(data-emoji) " " attr(data-count);
  display: block;
  padding: .125em .5em;
  position: absolute;
  right: 16px;
  transition: opacity .2s, scale .2s;
  translate: 0 50%;
}

.chat .message[data-emoji]:active::after {
  scale: 1.2;
}

.chat .message[data-count="0"]::after {
  opacity: 0;
  scale: 0;
} 