
.background {
  background: var(--color-background);
  inset: 0;
  position: fixed;
  transition: background-color .4s;
  z-index: 0;
}

.background::after {
  /* backdrop-filter: blur(calc(var(--radius) * 0.4)); */
  background-image: url(/assets/images/noise.png);
  background-size: calc(288px * 1);
  content: "";
  display: block;
  image-rendering: pixelated;
  inset: 0;
  /* mix-blend-mode: soft-light; */
  pointer-events: none;
  position: fixed;
  /* transition: opacity .4s; */
  z-index: 2;
}

.circles {
  align-items: center;
  animation-direction: alternate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  /* animation-name: rotate; */
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 1;
  position: fixed;
  transition: opacity .4s;
  z-index: 1;
}

.circle {
  animation-iteration-count: infinite;
  aspect-ratio: 1;
  backface-visibility: hidden;
  margin: calc(var(--radius) * -1.3);
  mix-blend-mode: soft-light;
  opacity: 1;
  position: relative;
  width: calc(var(--radius) * 3.6);
  z-index: 1;
}

.circle:hover {
  /* z-index: 2; */
}

.circle::before {
  /* transition: filter .8s; */
  background-size: cover;
  border-radius: 50%;
  content: "";
  display: block;
  /* filter: blur(calc(var(--radius) * 0.4)); */
  inset: 0;
  position: absolute;
}

/* .circle:hover::before {
  filter: blur(calc(var(--radius) * 0.1));
} */

.circle::after {
  align-items: center;
  animation-direction: alternate-reverse;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: ease-in-out;
  content: attr(data-label);
  display: flex;
  font-size: calc(var(--radius) * 0.2);
  inset: 0;
  justify-content: center;
  letter-spacing: .25em;
  mix-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  transition: opacity .4s;
  z-index: 3;
}

.circle:hover::after {
  /* opacity: 1; */
}

.circle.design {
  animation-direction: alternate;
  animation-duration: 6s;
  animation-name: float;

  &::before {
    /* background: var(--color-design); */
    background-image: url(../../images/circle-design.png);
  }

  &::after {
    color: var(--color-design);
  }
}

.circle.research {
  animation-direction: alternate-reverse;
  animation-duration: 8s;
  animation-name: float;
  
  &::before {
    /* background: var(--color-research); */
    background-image: url(../../images/circle-research.png);
  }

  &::after {
    color: var(--color-research);
  }
}

.circle.data {
  animation-delay: -3s;
  animation-direction: alternate-reverse;
  animation-duration: 12s;
  animation-name: float;

  &::before {
    /* background: var(--color-data); */
    background-image: url(../../images/circle-data.png);
  }

  &::after {
    color: var(--color-data);
  }
}

.foreground {
  position: relative;
  z-index: 2;
}

@keyframes float {
  0% {
    scale: 1;
    translate: calc(var(--radius) * 0) calc(var(--radius) * 0.5);
  }
  20% {
    scale: 1.125;
    translate: calc(var(--radius) * 0.5) calc(var(--radius) * 1);
  }
  40% {
    scale: 1;
    translate: calc(var(--radius) * 1) calc(var(--radius) * 1.5);
  }
  60% {
    scale: 1.125;
    translate: calc(var(--radius) * 1.5) calc(var(--radius) * 0.5);
  }
  80% {
    scale: 1.25;
    translate: calc(var(--radius) * 0.5) calc(var(--radius) * 0);
  }
  100% {
    scale: 1;
    translate: calc(var(--radius) * 0) calc(var(--radius) * 0.5);
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

[data-theme="dark"] {

  .background {
    background: var(--color-dark-background);
  }

  .background::after {
    mix-blend-mode: soft-light;
  }

  .circles {
    opacity: .8;
  }

}