.bits {
  align-items: baseline;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  padding-block: 24px 64px;
  position: relative;
  text-transform: uppercase;
}

.bits::before {
  background-color: var(--color-tint);
  content: "";
  height: 1px;
  left: 0;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
}

.bits p {
  margin: 0;
}

.bits > a {
  font-weight: 800;
}