.button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 1px solid var(--color-tint);
  border-radius: 999px;
  display: flex;
  font-family: inherit;
  gap: .25em;
  margin-block: 1em;
  padding: .5em 1em;
  white-space: nowrap;
  width: fit-content;

  svg {
    width: 1em;
  }
}