.button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 1px solid var(--color-tint);
  border-radius: 1000px;
  display: flex;
  font-family: inherit;
  gap: .25em;
  margin-block: 1em;
  padding: .5em 1em;
  white-space: nowrap;
  width: fit-content;

  svg {
    width: 1em;
  }
}

/* .floating.next.button {
  margin: 0;
  padding: .5em;
  position: absolute;
  right: var(--margin);
  rotate: -90deg;
  top: 50%;
  translate: 0 -50%;
} */