@keyframes fadeup {
  from {
    opacity: 0;
    translate: 0 var(--gutter);
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

body[data-layout="case"] {
  background: var(--color-subtle);

  #dark {
    background: var(--color-dark-background);
  }

  header h1 {
    animation: fadeup .4s backwards;
    animation-delay: .4s;
    color: var(--color-accent);
    /* font-size: 48px; */
    grid-template-columns: 1fr;
    margin-block: var(--margin);
    /* opacity: 0; */
    text-align: center;
  }

  header h1 span {
    animation: fadeup .4s backwards;
    animation-delay: .8s;
    color: color-mix(in srgb, var(--color-accent) 100%, transparent);
    display: block;
    font-family: var(--font-family-body);
    font-size: 3.2rem;
    letter-spacing: normal;

    /* opacity: 0; */
  }

  header {
    position: relative;
  }

  header .grid {
    align-items: baseline;
  }

  header .grid > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }

  header .cover-media {
    position: relative;

    &::before {
      background-color: var(--color-paper);
      content: "";
      display: block;
      inset: 50% 0 0 0;
      position: absolute;
    }
  }

  header .cover-media img {
    display: block;
    margin: 0 auto;
    position: relative;
    width: calc(var(--max-width) * .5);
  }

  .paper {
    background: var(--color-paper);
    display: flow-root;
    min-height: 100svh;
    min-height: calc(100svh - var(--nav-height));
    padding-bottom: calc(var(--margin) * 4);
  }

  #work h3 span:first-child {
    color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
    font-family: var(--font-family-body);
    font-size: 1.6rem;
    font-weight: var(--font-weight-body);
    margin-bottom: .25em;
  }
  
  #work h3 span:last-child {
    font-family: var(--font-family-body);
    font-size: 1.8rem;
    font-weight: var(--font-weight-body);
  }

  p[data-kicker] {
    font-size: 2.4rem;
    font-weight: var(--font-weight-body);
    margin-block: calc(var(--margin) * 2);
    text-align: center;
  }

  p[data-kicker]::before {
    color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
    content: attr(data-kicker);
    display: block;
    font-family: var(--font-family-body);
    font-size: 1.6rem;
    font-weight: var(--font-weight-body);
    margin-bottom: .25em;
    text-align: center;
  }

  footer {
    padding-top: 0;
  }

}

.markdown.grid {
  padding-block: calc(var(--margin) * 2);

  > * {
    grid-column: span 12;
  }

  p {
    margin-block: 0;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  hr {
    grid-column: 4 / -4;
  }

  p:has(img),
  hr + ul,
  hr + ol,
  > ul:first-child {
    grid-column: 2 / -2;
    margin-block: calc(2 * var(--gutter));
    /* margin-block: var(--gutter); */

  }

  img {
    display: block;
    max-width: 100%;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
    margin-bottom: 0;
    margin-top: calc(var(--gutter) * 2);
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 0;
    margin-bottom: calc(var(--gutter) * -.75);
  }
  
  h1 em,
  h2 em,
  h3 em,
  h4 em,
  h5 em,
  h6 em {
    color: var(--color-accent);
    display: block;
    font-family: var(--font-family-body);
    font-size: var(--16);
    font-style: normal;
    font-weight: var(--font-weight-body-strong);
    letter-spacing: .04em;
    margin-bottom: .25em;
    text-transform: uppercase;
  }

  > ul:first-child {
    border-top: 1px solid color-mix(in srgb, var(--color-tint) 20%, transparent 80%);
    display: grid;
    display: flex;
    gap: calc(var(--gutter) * 3);
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    list-style: none;
    padding-top: var(--margin);

    > li {
      color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
      font-size: 1.6rem;
      font-weight: var(--font-weight-body);
      margin-bottom: .25em;
      text-transform: uppercase;

      ul {
        color: var(--color-tint);
        font-size: 1.8rem;
        font-weight: var(--font-weight-head);
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        text-transform: initial;
      }
    }
  }

  hr {
    border: 0;
    border-top: 1px solid color-mix(in srgb, var(--color-tint) 20%, transparent 80%);
    display: block;
    height: 0;
    width: 100%;
  }

  hr:has(+ ul),
  hr:has(+ ol) {
    display: none;
  }

  hr + ul {
    display: flex;
    gap: var(--gutter);
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      background: var(--color-subtle);
      border-radius: .8rem;
      margin: 0;
      padding: var(--gutter);
      width: 100%;

      em:first-child {
        display: block;
        font-style: normal;
        font-weight: var(--font-weight-body);
        margin-bottom: .5em;
      }
    }
  }

  ol {
    counter-reset: custom-counter;
    display: flex;
    gap: var(--gutter);
    justify-content: center;
    list-style: none;
    padding: 0;

    > li {
      counter-increment: custom-counter;
      font-weight: var(--font-weight-body);
      margin: 0;
      width: 100%;

      &::before {
        content: counter(custom-counter);
        display: block;
        font-family: var(--font-family-head);
        font-size: var(--margin);
        padding-block: .25em;
      }
    }

    ul {
      font-size: .75em;
      font-weight: var(--font-weight-head);
      list-style: none;
      padding: 0;
    }
  }

  p[data-caption] {
    background: var(--color-subtle);

    & img {
      padding: calc(2 * var(--gutter));
      padding-bottom: var(--gutter);
    }

    &::after {
      color: color-mix(in srgb, var(--color-tint) 50%, transparent);
      content: attr(data-caption);
      display: block;
      font-size: 2rem;
      margin-bottom: calc(2 * var(--gutter));
      text-align: center;
    }
  }

  > p:last-child a:first-child:last-child {
    align-items: center;
    appearance: none;
    background: transparent;
    border: 1px solid var(--color-tint);
    border-radius: 1000px;
    display: flex;
    font-family: inherit;
    gap: .25em;
    margin-block: 1em;
    padding: .5em 1em;
    place-self: center;
    white-space: nowrap;
    width: fit-content;

    &:hover {
      background: var(--color-tint);
      color: var(--color-paper);
    }
  }

}

