.chat {
  /* height: 75vh;
  overflow: auto; */
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1.25em;
  margin-block: 1.25em;
}

/* .chat .message-wrapper {
  position: relative;
} */

.chat .message .balloon {
  background: red;
  background: var(--color-paper);
  border-radius: 0 1.2rem 1.2rem 1.2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}


.chat .message {
  color: var(--color-dark-background);
  cursor: pointer;
  margin-inline: 1.6rem 6.4rem;
  opacity: 0;
  padding: .75em .75em;
  position: relative;
  position: relative;
  scale: .75;
  scale: 1;
  text-wrap: pretty;
  text-wrap: balance;
  transform-origin: top left;
  transition: opacity .4s, translate .4s, scale .4s;
  translate: -1em 1em;
  user-select: none;
  width: fit-content;
  z-index: 2;

  &.animate {
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }

  &::before {
    background-image: url(../../images/balloon-tip.svg);
    content: "";
    display: block;
    height: 1.6rem;
    left: calc(calc(1.6rem * -1) + .5px);
    position: absolute;
    top: 0;
    width: 1.6rem;
  }

  &:has(img) {
    padding: .25em;
    width: 50%;
  }

  img {
    border-radius: .8rem;
    display: block;
    max-width: 100%;
  }

}

/* 
.chat.animate .message {
  opacity: 1;
  scale: 1;
  translate: 0 0;
}
*/

.chat .message span {
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.chat .balloon[data-emoji]::after {
  background: var(--color-paper);
  border: 1px solid var(--color-dark-background);
  border-radius: 1000px;
  bottom: 0;
  content: attr(data-emoji) " " attr(data-count);
  display: block;
  padding: .125em .5em;
  position: absolute;
  right: 1.6rem;
  transition: opacity .2s, scale .2s;
  translate: 0 50%;
}

.chat .balloon[data-emoji]:active::after {
  scale: 1.2;
}

.chat .balloon[data-count="0"]::after {
  opacity: 0;
  scale: 0;
} 