.cover {
  display: flex;
  flex-direction: column;
  height: 100svh;
  max-height: 128rem;
}

.intro {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--nav-height));
  justify-content: end;
}

