@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.cursor {
  aspect-ratio: 1;
  backdrop-filter: blur(4px);
  border-radius: 50%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  scale: .5;
  top: 0;
  transition: scale .4s, translate .2s;
  translate: -50% -50%;
  width: 72px;
  z-index: 999;
}

.cursor[data-tags="false"] {
  mix-blend-mode: multiply;
}

.cursor[data-tags="true"] {
  mix-blend-mode: normal;
}

.cursor:not([data-text=""]) {
  translate: -50% -66.666%;
}

.cursor::after {
  align-items: center;
  /* animation: spin 3s linear infinite reverse; */
  color: var(--color-paper);
  content: attr(data-text);
  display: flex;
  font-size: 16px;
  font-weight: var(--font-weight-body);
  inset: 0;
  justify-content: center;
  /* mix-blend-mode: unset; */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  scale: 0;
  text-transform: uppercase;
  transition: opacity .4s, scale .2s;
}

.cursor[data-state="interactive"]::after {
  opacity: 1;
  scale: 1;
}

.cursor .color {
  animation: spin 3s linear infinite;
  border-radius: 50%;
  inset: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transition: background-color .2s, opacity .2s;
}

.cursor[data-state="default"] .color {
  background: var(--color-background) !important;
}

.cursor[data-state="interactive"] .color {
  background: var(--color-background);
  opacity: .666;
}

.cursor[data-state="interactive"] {
  scale: 1;
}

