ul.details {
  background: color-mix(in srgb, var(--color-background) 25%, transparent);
  border-radius: .8rem;
  display: flex;
  gap: var(--gutter);
  justify-content: center;
  list-style: none;
  margin: calc(var(--margin) * 2) auto 0; 
  padding: var(--gutter);
  place-self: center;
  width: fit-content;

  > li {
    color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: var(--font-weight-body);
    margin-bottom: .25em;
    min-width: 8em;
    position: relative;

    + li {
      padding-left: var(--gutter);
    }

    + li::before {
      background-color: var(--color-background);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 1px;
    }

    ul {
      color: var(--color-tint);
      font-size: 2rem;
      font-weight: var(--font-weight-head);
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      text-transform: initial;
    }
  }
}