footer {
  color: var(--color-paper);
  padding-block: var(--margin);
}

footer .grid:first-of-type {
  border-top: 1px solid color-mix(in srgb, var(--color-paper) 20%, transparent 80%);
  padding-block: var(--margin);
}

footer .grid > div {
  grid-column: span 6;
}

footer .grid > div:last-child {
  text-align: right;
}

footer .grid > small {
  grid-column: span 12;
  margin-block: 4em 1em;
}