footer {
  color: var(--color-paper);
  padding-block: var(--margin);
}

footer .grid:first-of-type {
  border-top: 1px solid color-mix(in srgb, var(--color-paper) 20%, transparent 80%);
  padding-block: var(--margin);
}

footer .grid > div {
  grid-column: span 6;
}

footer .grid > div:last-child {
  text-align: right;
}

footer .grid > small {
  grid-column: span 12;
  margin-block: 4em 1em;
}

footer a[href^="mailto:"] span {
  animation: rainbow 3s infinite linear;
}

footer small span {
  animation: rainbow 3s infinite linear;
  animation-delay: -1.5s;
}

footer .socials {
  display: flex;
  justify-content: end;
}

footer .socials a + a::before {
  color: color-mix(in srgb, var(--color-paper) 20%, transparent 80%);
  content: "•";
  margin-right: .5em;
  pointer-events: none;
}

footer .socials a + a {
  margin-left: .5em
}

@keyframes rainbow {
  0%, 100% {
    color: var(--color-design);
  }
  33.333% {
    color: var(--color-research);
  }
  66.666% {
    color: var(--color-data);
  }
}
/* 
[data-layout="case"] {

  footer {
    color: var(--color-tint);
  }
  
  footer .grid:first-of-type {
    border-top: 1px solid color-mix(in srgb, var(--color-tint) 20%, transparent 80%);
  }
  
  footer .socials a + a::before {
    color: color-mix(in srgb, var(--color-tint) 20%, transparent 80%);
  }

} */