nav {
  align-items: center;
  height: var(--nav-height);
}

nav a {
  height: fit-content;
  padding: calc(var(--gutter) * .25) calc(var(--gutter) * .5);
  text-decoration: none;
}

nav > a {
  font-family: var(--font-family-head);
  font-weight: bold;
  grid-column: span 3;
  letter-spacing: -.04em;
  margin-bottom: 0.125em;
  margin-left: calc(var(--gutter) * -.5);
}

nav .anchors {
  display: flex;
  font-size: 2rem;
  font-weight: var(--font-weight-body);
  gap: calc(var(--gutter) * .5);
  grid-column: span 9;
  justify-content: right;
  margin-right: calc(var(--gutter) * -.5);
  text-transform: uppercase;
}
