@media (max-width: 1536px) {
  html {
    font-size: calc(100% * calc(8/16));
  }
}

@media (max-width: 960px) {
  .markdown.grid {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    hr {
      grid-column: 2 / -2;
    }

    p:has(img),
    video,
    hr + ul,
    hr + ol,
    > ul:first-child {
      grid-column: 1 / -1;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100% * calc(7/16));
  }

  :root {
    --margin: 3.2rem;
    --gutter: 1.6rem;
  }

  header h1 {
    font-size: 6.4rem;
    text-wrap: balance;
  }

  body[data-layout="case"] header .cover-media img {
    width: 100%;
  }

  nav .anchors {
    gap: 0;
  }

  .bits {
    text-wrap: balance;
  }

  #about .grid > div {
    grid-column: span 12;
  }

  .markdown.grid {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    hr {
      grid-column: 1 / -1;
    }

    p:has(img),
    video,
    hr + ul,
    hr + ol,
    > ul:first-child {
      grid-column: 1 / -1;
    }
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(100% * calc(6.666/16));
  }

  :root {
    --margin: 2.4rem;
    --gutter: 1.2rem;
  }
  
  header h1 {
    font-size: 4.8rem;
  }

  .bits > a {
    display: none;
  }

  #work li {
    grid-column: span 12;
  }

  #work h2,
  #about h2 {
    margin-block: calc(var(--margin) * 2);
  }

  #about .grid > div {
    margin-bottom: 6.4rem;
  }

  .chat .message {
    margin-inline: 1.6rem;
  }

  .chat .message:has(img) {
    width: 75%;
  }

  ul.details > li {
    min-width: 4em;
  }
}

@media (max-width: 360px) {
  html {
    font-size: calc(100% * calc(6/16));
  }
}

@media (hover: none) {
  .cursor {
    display: none;
  }
  
  #work a.hover .tags {
    opacity: 1;
    transition-delay: .4s;
    translate: 0 0;
  }
 }

