@media (max-width: 1536px) {
  html {
    font-size: calc(100% * calc(8/16));
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100% * calc(6.666/16));
  }

  :root {
    --margin: 3.2rem;
    --gutter: 1.6rem;
  }


  header h1 {
    font-size: 6.4rem;
    text-wrap: balance;
  }

  nav .anchors {
    gap: 0;
  }

  .bits {
    text-wrap: balance;
  }

  #about .grid > div {
    grid-column: span 12;
  }
}

@media (max-width: 480px) {
  html {
    font-size: calc(100% * calc(6/16));
  }

  :root {
    --margin: 2.4rem;
    --gutter: 1.2rem;
  }
  
  header h1 {
    font-size: 4.8rem;
  }

  .bits > a {
    display: none;
  }

  #work li {
    grid-column: span 12;
  }

  #work h2,
  #about h2 {
    margin-block: calc(var(--margin) * 2);
  }

  #about .grid > div {
    margin-bottom: 6.4rem;
  }

  .chat .message {
    margin-inline: 1.6rem;
  }

  .chat .message:has(img) {
    width: 75%;
  }
}

@media (hover: none) {
  .cursor {
    display: none;
  }
  
  #work a.hover .tags {
    opacity: 1;
    transition-delay: .4s;
    translate: 0 0;
  }
 }

