:root {
  /* Colors */
  --color-design: #ff906c;
  --color-research: #ec75ff;
  --color-data: #b2d3ff;

  --color-tint: #2b2222;
  --color-accent: #9c97c6;
  --color-paper: #ffffff;
  --color-background: #edecff;

  --color-dark-background: #0e0d26;
  --color-subtle: color-mix(in srgb, var(--color-background), var(--color-paper)); 
  
  /* Blurred circles */
  --radius: 24rem;

  /* For 12 columns */
  --margin: 4.8rem;
  --gutter: 2.4rem;
  --max-width: 144rem;

  /* Fixed-size components */
  --nav-height: 9.6rem;

  /* Fonts */
  --font-family-head: 'oddvaltext-semibold', sans-serif;
  --font-family-body: 'CabinetGrotesk-Variable', sans-serif;
  --font-weight-head: 600;
  --font-weight-body: 500;
  --font-weight-body-strong: 800;

  /* Sizes */

  /* 0–10 */
  --1: 1px;
  --2: 2px;
  --4: .4rem;
  --6: .6rem; /* Not used */
  --8: .8rem;
  --10: 1rem;

  /* 10–20 */
  --12: 1.2rem;
  --14: 1.4rem;
  --16: 1.6rem;
  --18: 1.8rem;
  --20: 2rem;

  /* 20–100 */
  --24: 2.4rem;
  --32: 3.2rem;
  --48: 4.8rem;
  --64: 6.4rem;
  --72: 7.2rem;
  --96: 9.6rem;

  /* 100–1000 */
  --240: 24rem;
  --320: 32rem; /* Not used */
  --480: 48rem; /* Not used */
  --640: 64rem; /* Not used */
  --720: 72rem; /* Not used */
  --960: 96rem;

  /* 1000–2000 */
  --1280: 128rem;
  --1440: 144rem;
  --1920: 192rem; /* Not used */
}