:root {
  --color-design: #ff906c;
  --color-research: #ec75ff;
  --color-data: #b2d3ff;

  --color-tint: #2b2222;
  --color-paper: #ffffff;
  --color-background: #edecff;
  --color-dark-background: #0e0d26;
  --color-subtle: color-mix(in srgb, var(--color-background), var(--color-paper)); 
  
  /* Blurred circles */
  --radius: 240px;

  /* For 12 columns */
  --margin: 48px;
  --gutter: 24px;
  --max-width: 1440px;

  /* Fixed-size components */
  --nav-height: 96px;

  /* --font-family-head: 'DM Serif Display', serif; */
  /* --font-family-body: 'Inter', sans-serif; */

  --font-family-head: 'oddvaltext-semibold', sans-serif;
  --font-family-body: 'CabinetGrotesk-Variable', sans-serif;

  --font-weight-head: 600;
  --font-weight-body: 500;
}

/* linear-gradient(in lab, #9CBCFc, #ff906c) */