.works {
  list-style-type: none;
  padding: 0;
}

.works a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.works h2 {
  font-size: inherit;
  margin: 0;
}

.works p {
  margin: 0;
}

.works li:nth-child(odd) h2::before {
  content: "✦"
}

.works li:nth-child(even) h2::before {
  content: "✧"
}