#work {
  background: var(--color-paper);
}

#work h2 {
  grid-column: span 12;
  margin-block: var(--margin);
}

#work ul {
  list-style-type: none;
  padding: 0;
}

#work li {
  grid-column: span 6;
  margin-bottom: var(--gutter);
  width: fit-content;
}

#work a {
  color: inherit;
  display: block;
  text-decoration: none;
}

#work img {
  margin-bottom: calc(var(--gutter) * .5);
  width: 100%;
}

#work time {
  text-align: right;
  width: 4rem;
}

#work h3 {
  margin: 0;
  width: calc(100% - 4rem);
}

#work p {
  margin: 0;
}

#work .card {
  display: flex;
  flex-direction: column;
}

#work figure {
  margin: 0;
}

#work figcaption {
  display: flex;
  align-items: baseline;
}