#work {
  background: var(--color-paper);
  display: flex;
  flex-direction: column;
  max-width: calc(var(--max-width) + calc(var(--margin) * 2));
  margin: 0 auto;
}

#work h2 {
  grid-column: span 12;
  margin-block: var(--margin);
}

#work ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 var(--margin) 0;
}

#work li {
  grid-column: span 6;
  margin-bottom: var(--gutter);
}

#work a {
  color: inherit;
  display: block;
  text-decoration: none;
}

#work img {
  margin-bottom: calc(var(--gutter) * .5);
  width: 100%;
}

#work time {
  color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  /* width: 4rem; */
}

#work h3 {
  margin: 0;
  width: 100%;
  /* width: calc(100% - 4rem); */
}

#work h3 span {
  align-items: center;
  display: flex;
}

#work h3 svg {
  align-self: center;
  display: inline-flex;
  /* fill: color-mix(in srgb, var(--color-tint) 50%, transparent 50%); */
  margin-inline: .5em;
  /* fill: var(--color-background); */
}

#work h3 span:first-child {
  /* opacity: .5; */
  color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: .25em;
  text-transform: uppercase;
}

#work h3 span:last-child {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  /* text-transform: uppercase; */
  /* opacity: .5; */
}

#work h3 small {
  background: var(--color-paper);
  border: 1px solid color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
  border-radius: 4px;
  color: color-mix(in srgb, var(--color-tint) 50%, var(--color-paper) 50%);
  font-size: 12px;
  margin-inline: 1em;
  padding: .333em .5em .25em;
  white-space: nowrap
}

#work p {
  margin: 0;
}

#work .card {
  display: flex;
  flex-direction: column;
}

#work figure {
  margin: 0;
}

#work figcaption {
  align-items: baseline;
  display: flex;
}

