<section id="about">

  <div class="grid">
    <h2>About</h2>
  </div>

  <div class="grid">
    <div>
      [Chat]
    </div>
    <div>
      <h3>Experience</h3>

      <ol>
        <li>
          <div class="role">
            <h4>Freelance</h4>
            <p>Senior Product Designer</p>
          </div>
          <div class="period">
            Current
          </div>
        </li>
        <li>
          <div class="role">
            <h4>Creditas</h4>
            <p>Senior Product Designer</p>
          </div>
          <div class="period">
            2022 - 2023
          </div>
        </li>
        <li>
          <div class="role">
            <h4>Work & Co</h4>
            <p>Designer</p>
          </div>
          <div class="period">
            2021 - 2022
          </div>
        </li>
        <li>
          <div class="role">
            <h4>Loft</h4>
            <p>Product Designer</p>
          </div>
          <div class="period">
            2020
          </div>
        </li>
        <li>
          <div class="role">
            <h4>Nubank</h4>
            <p>Product Designer</p>
          </div>
          <div class="period">
            2019 - 2020
          </div>
        </li>
      </ol>

      <a href="assets/cv/mariana-nascimento.pdf" target="_blank" class="button">↓ Download CV</a>
    </div>
  </div>

</section>