<div class="chat">
  <div class="message" data-emoji="👋" data-count="0">
    Hey! I’m Mari, an interdisciplinary designer with over 12 years of experience. 
  </div>

  <div class="message" data-emoji="✏️" data-count="0">
    I have worked with Digital Product Design, UI Design, UX Design, UX Research, Graphic Design, and in the last year, I've been venturing into Data Analysis
  </div>

  <div class="message" data-emoji="🤝" data-count="0">
    These skills have made me a curious person who cares a lot about designing increasingly human experiences and balancing business strategies with the real needs of their users.
  </div>

  <div class="message" data-emoji="🚀" data-count="1">
    Currently, I work as a freelance product designer and I can help you design solutions for your business
  </div>

  <div class="message" data-emoji="☀️" data-count="0">
    I'm a girl from Rio and, in my spare time, I like to watch movies & series, do embroidery, talk about fashion and be with my kitten
  </div>

  <!-- <div class="message">
    look at me and him
  </div> -->

  <div class="message" data-emoji="🥰" data-count="1">
    <img src="https://placecats.com/neo/600/400" alt="">
  </div>

  <div class="message" data-emoji="👇" data-count="0">
    feel free to contact me! let's talk and collaborate together! 👇
  </div>
</div>