<footer id="contact">

  <div class="grid">
    <div>
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#105;&#64;&#105;&#116;&#115;&#109;&#101;&#109;&#97;&#114;&#105;&#46;&#99;&#111;&#109;" style="user-select: all;">&#104;&#105;<span>&#64;</span>&#105;&#116;&#115;&#109;&#101;&#109;&#97;&#114;&#105;&#46;&#99;&#111;&#109;</a>
    </div>
    {% include socials.html %}
  </div>
  
  <div class="grid">
    <small>
      Coded with <span>♥︎</span> by <a href="https://vsueiro.com" target="_blank">Vinicius Sueiro</a>
    </small>
  </div>

</footer>