<form id="form" autocomplete="off">
  {% comment %}
    {% include lock.svg %}
  {% endcomment %}

  {% include tags.html tags="design, data, research" %}

  <label for="password">
    <span>Password Required</span>
  </label>

  <p>
    This project is not available to the public.<br>
    Please enter the secret word or contact me directly for project details!
  </p>

  <input type="password" id="password" placeholder="Password">

  <button class="button">
    Submit
    {% include arrow-right.svg %}
  </button>
</form>