<section id="work">

  <div class="grid">
    <h2>Selected Works</h2>
  </div>

  <ul class="grid">
    {% assign pages = site.pages | sort: "order" %}

    {% for page in pages %}
      {% if page.path contains 'work/' %}

        {% if page.status == 'published' %}
          <li data-status="{{ page.status }}">
            <a href="{{ page.url }}" class="card" data-text="view">
              <figure>
                <img src="{{ page.thumb }}" alt="">
                <figcaption>

                  <h3>
                    <span class="heading">
                      {{ page.heading }}
                      {% if page.password %}
                        {% include lock.svg %}
                      {% endif %}
                    </span>
                    <span class="subheading">
                      {{ page.subheading }}
                    </span>
                  </h3>

                  <time datetime="{{ page.year }}">
                    {{ page.year }}
                  </time>

                </figcaption>
              </figure>
            </a>
          </li>
        {% endif %}

        {% if page.status == 'coming soon' %}
          <li data-status="{{ page.status }}" class="card">
            <figure>
              <img src="{{ page.thumb }}" alt="">
              <figcaption>

                <h3>
                  <span class="heading">
                    {{ page.heading }}
                  </span>
                  <span class="subheading">
                    {{ page.subheading }}
                  </span>
                </h3>

                <time datetime="{{ page.year }}">
                  {{ page.year }}
                </time>
              </figcaption>
            </figure>
          </li>
        {% endif %}

      {% endif %}
    {% endfor %}
  </ul>

</section>