@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:opsz,wght@14..32,100..900&display=swap);

@import url(imports/reset.css);
@import url(imports/variables.css);
@import url(imports/general.css);
@import url(imports/grid.css);
@import url(imports/flex.css);
@import url(imports/background.css);
@import url(imports/foreground.css);
@import url(imports/cover.css);
@import url(imports/nav.css);
@import url(imports/header.css);
@import url(imports/bits.css);
@import url(imports/work.css);
@import url(imports/about.css);
@import url(imports/case.css);
@import url(imports/markee.css);
@import url(imports/next.css);
@import url(imports/footer.css);
@import url(imports/cursor.css);
@import url(imports/responsive.css);

/* a[data-tags] {
  padding: 2em 2em;
  background: white;
  display: inline-block;
  margin: 1em;
  color: inherit;
  text-decoration: none;
} */

/*
@import url(imports/loading.css);
@import url(imports/header.css);
@import url(imports/navigation.css);
@import url(imports/cover.css);
@import url(imports/stars.css);
@import url(imports/tabs.css);
@import url(imports/insights.css);
@import url(imports/filters.css);
@import url(imports/globe.css);
@import url(imports/balloons.css);
@import url(imports/trends.css);
@import url(imports/questions.css);
@import url(imports/ranking-topics.css);
@import url(imports/ranking-countries.css);
@import url(imports/related-topics.css);
@import url(imports/chromatic-aberration.css);
@import url(imports/mockup.css);
@import url(imports/responsive.css);
*/
