@import url(imports/reset.css);
@import url(imports/variables.css);
@import url(imports/general.css);
@import url(imports/background.css);
@import url(imports/foreground.css);
@import url(imports/works.css);
@import url(imports/cursor.css);


a[data-tags] {
  padding: 2em 2em;
  background: white;
  display: inline-block;
  margin: 1em;
  color: inherit;
  text-decoration: none;
}

/*
@import url(imports/loading.css);
@import url(imports/header.css);
@import url(imports/navigation.css);
@import url(imports/cover.css);
@import url(imports/stars.css);
@import url(imports/tabs.css);
@import url(imports/insights.css);
@import url(imports/filters.css);
@import url(imports/globe.css);
@import url(imports/balloons.css);
@import url(imports/trends.css);
@import url(imports/questions.css);
@import url(imports/ranking-topics.css);
@import url(imports/ranking-countries.css);
@import url(imports/related-topics.css);
@import url(imports/chromatic-aberration.css);
@import url(imports/mockup.css);
@import url(imports/responsive.css);
*/
