<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% assign title = page.title | default: page.heading %}
    <title>{{ title }} • {{ site.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/scripts.js" type="module"></script>
  </head>
  <body>
    {% include nav.html %}

    <h1>{{ page.heading }}</h1>
    <p>{{ page.description }}</p>

    {% if page.password %}
      {% include password-form.html %}
      <div id="protected" hidden>
    {% endif %}
    
    {{ page.content | markdownify }}

    {% if page.password %}
      </div>
      {% include password-check.html %}
    {% endif %}

    {% include cursor.html %}
  </body>
</html>
