<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% assign title = page.title | default: page.heading %}
    <title>{{ title }} • {{ site.title }}</title>

    {% include favicon.html %}

    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/case.js" type="module"></script>
  </head>
  <body data-layout="{{ page.layout }}" data-color="{{ page.color }}" data-theme="light">

    {% include nav.html base="../../" %}

    <article>

      <header id="header" {% if page.password %}hidden{% endif %}>

        <div class="grid">
          <div>
            <h1>
              {{ page.heading }}
              <span>{{ page.case-subheading }}</span>
            </h1>
            <p class="description">
              Est dapibus elit eu nec suspendisse nascetur faucibus parturient metus a parturient
            </p>
          </div>
          <div>
            {% include tags.html %}
            {% include details.html %}
          </div>
        </div>

        <div class="cover-media">
          <img src="../../{{ page.cover | default: page.thumb }}" alt="">
        </div>

      </header>

      <div class="paper">
        {% if page.password %}
          {% include password-form.html %}
          <div id="protected" hidden>
        {% endif %}
        
        <p data-kicker="{{ page.heading }}">
          {{ page.case-subheading | default: page.subheading }}
        </p>
        <div class="markdown grid">
          {{ page.content | markdownify }}
        </div>
      
        {% if page.password %}
          </div>
          {% include password-check.html %}
        {% endif %}
      </div>
    </article>

    <div id="dark">
      {% include next.html %}
      {% include footer.html %}
    </div>

    {% include cursor.html %}
  </body>
</html>
