<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% assign title = page.title | default: page.heading %}
    <title>{{ title }} • {{ site.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/case.js" type="module"></script>
  </head>
  <body data-layout="{{ page.layout }}" data-theme="light">

    {% include background.html %}
    <div class="foreground">

      {% include nav.html base="../../" %}

      <article>

        <header>
          <h1 class="grid">
            {{ page.heading }}
          </h1>
          <img src="../../{{ page.cover | default: page.thumb }}" alt="">
          
          {% include markee.html %}
        </header>

        <div class="paper">
          {% if page.password %}
            {% include password-form.html %}
            <div id="protected" hidden>
          {% endif %}
          
            <p data-kicker="{{ page.heading }}">
              {{ page.case-subheading | default: page.subheading }}
            </p>
            <div class="markdown grid">
              {{ page.content | markdownify }}
            </div>
        
          {% if page.password %}
            </div>
            {% include password-check.html %}
          {% endif %}
        </div>
      </article>

      <div id="dark">
        {% include next.html %}
        {% include footer.html %}
      </div>

    </div>

    {% include cursor.html %}
  </body>
</html>
