<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/scripts.js" type="module"></script>
  </head>
  <body>
    {% include background.html %}
    
    <div class="foreground">
      
      {% include nav.html %}

      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
  
      <ul class="works">

        {% assign pages = site.pages | sort: "order" %}

        {% for page in pages %}
          {% if page.path contains 'work/' %}

            {% if page.status == 'published' %}
            <li data-status="{{ page.status }}">
              <a href="{{ page.url }}">
                <h2>
                  {{ page.title }}
                </h2>
                <p>{{ page.description }}</p>
              </a>
            </li>
            {% endif %}

            {% if page.status == 'coming soon' %}
            <li data-status="{{ page.status }}">
              <h2>
                {{ page.title }}
              </h2>
              <p>{{ page.description }}</p>
            </li>
            {% endif %}

          {% endif %}
        {% endfor %}
      </ul>
  
      {{ page.content | markdownify }}

    </div>
    
    {% include cursor.html %}
  </body>
</html>
