<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta property="og:image" content="{{ "/assets/images/og.png" | absolute_url }}" />

    <title>{{ site.title }} • {{ site.complement }}</title>

    {% include favicon.html %}

    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/home.js" type="module"></script>
  </head>
  <body data-layout="{{ page.layout }}" data-theme="light">

    {% include background.html %}
    
    <div class="foreground">
      
      {% include cover.html %}
      {% include work.html %}

      <div id="dark">
        {% include about.html %}
        {% include footer.html %}
      </div>
  
      <!-- <a href="#" data-tags="research">Research</a>
      <a href="#" data-tags="data">Data</a>
      <a href="#" data-tags="design">Design</a>
      <a href="#" data-tags="research+design">Research + Design</a>
      <a href="#" data-tags="research+data">Research + Data</a>
      <a href="#" data-tags="design+data">Design + Data</a> -->
  
      <!-- {{ page.content | markdownify }} -->

    </div>
    
    {% include cursor.html %}
  </body>
</html>
